<h1>Guthaben zum Kaufen auswählen</h1>

<label>Benutzername</label><input id="userInput" name="user" type="text"><br>
<label>Guthaben</label><input id="creditInput" name="credit" type="number"><br>
<button onclick="submit()">Zur Kaufseite</button>

<script>
    function submit() {
        console.log(document.getElementById("userInput").value)
        console.log(document.getElementById("creditInput").value)

        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", reqListener);
        oReq.open("GET", "https://astaprint.uni-paderborn.de/aufwerter/create/" + document.getElementById("creditInput").value);
        oReq.send();
    }

    function reqListener() {
        console.log(this.responseText);
        var link = JSON.parse(this.responseText)["link"];
        if (link.startsWith("https://")) {
            window.open(link,"_self")
        }
    }
</script>